* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: whitesmoke;
    border: 1px solid rgb(190, 188, 188);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color:#0d1d40;
    border-radius: 4px;
}
/* navbar styling */
nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 5px 9px 0px #4a5264;
}

nav>ul.nav-links {
    list-style: none;
    display: flex;
    float: right;
}

nav>ul>li {
    padding-right: 50px;
    float: right;
    line-height: 60px;
}

nav>ul>li>a {
    float: right;
    color: #18233A;
    font-weight: 600;
}
nav>ul>li>a#active{
font-size: 1.3em;
font-weight: 600;
}
/* tourism page */
.upper-layer {
    height: 500px;
    background-color: #18233A;
}

.content {
    margin-left: 23em !important;
    width: 250px;
    perspective: 976px;
    position: relative;
    padding-top: 80px;
}

.content-carrousuel {
    width: 600px;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;

}

.content-carrousuel:hover {
    animation-play-state: paused;
    cursor: pointer;
}
.content-carrousuel figure {
    width: 57%;
    height: 182px;
    border: 1px solid rgb(222, 226, 12);
    overflow: hidden;
    position: absolute;
}

.content-carrousuel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousuel figure:nth-child(2) {
    transform: rotateY(60deg) translateZ(300px);
}

.content-carrousuel figure:nth-child(3) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousuel figure:nth-child(4) {
    transform: rotateY(180deg) translateZ(300px);
}

.content-carrousuel figure:nth-child(5) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousuel figure:nth-child(6) {
    transform: rotateY(300deg) translateZ(300px);
}

.content-carrousuel figure:nth-child(7) {
    transform: rotateY(360deg) translateZ(300px);
}

.shadow {
    position: absolute;
    border-radius: 2px;
}

.content-carrousuel img {
    image-rendering: auto;
    transition: all 30ms;
    width: 100%;
    height: 100%;
}

.content-carrousuel img:hover {
    transform: scale(1.5);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotatey(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.welcome-text {
    width: 70%;
    margin: -3em auto 2em auto;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 5px 5px 0px #f1f1f3;
}

#heading-1 {
    text-align: center;
    font-weight: 700;

}

/*general elements*/
a {
    text-decoration: none;
}

nav>.logo {
    height: 40px;
    margin: 10px;
}
.footer-column-1>.logo>img {
    display: block;
    width: 24%;
    height: 30px;
    margin: 0 auto !important;
}
html {
    scroll-behavior: smooth;
}

/*footer styling*/

.footer {
    display: flex;
    background-color: #F5F5F5;
    padding: 20px;
}

.footer-column-1 {
    width: 30%;

}

.footer-column-2 {
    width: 20%;
    padding-left: 20px;
}

.footer-column-3 {
    width: 24%;
    margin: 0 auto;
}

.footer-column-4 {
    width: 24%;
}
.f-map>img {
    width: 95%;
    height: 200px;
}

#message {
    width: 99%;
    height: 13em;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 10px;
}

.f-main-links {
    list-style: none;
}

.f-main-links>li>a {
    color: black;
}

.f-main-links>li {
    margin-top: 10px;
}

.footer-col-header {
    color: #18233A;
    font-size: 1.2em;
    font-weight: 700;
}

.copyright {
    background-color: #0d1d40;
    width: 100%;
    height: 25px;
    position: relative;
    bottom: 0;
}

#copyright-txt {
    text-align: center;
    color: #ffffff;
}
#f-back-top {
    width: 70px;
    height: 60px;
    background: url(img/arrow-up-circle-fill.png);
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 12000;
}
#f-send {
    float: right;
    border: none;
    border-radius: 4px;
    background-color: #18233A;
    width: 80px;
    height: 40px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

/* footer responsiveness */
@media only screen and (max-width:600px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .footer {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .footer-column-1,
    .footer-column-2,
    .footer-column-3,
    .footer-column-4 {
        width: 100%;
    }

    .footer-column-2 {
        padding-left: 0;
    }
    .footer-col-header,
    .f-main-links {
        text-align: center;
    }

    .f-map>img {
        height: 150px;
        margin: 0 auto;
    }
    #message{
        width: 100%;
        padding: 0;
    }
}
